<include file="Public:header_uncompatible" />
<include file="Public:nav" />
<link href="https://cdn.bootcss.com/element-ui/2.2.2/theme-chalk/index.css" rel="stylesheet">

<div class="container">
    <include file="Product:subnav" />
    <include file="Public:alert" />
    <div id="app" style="margin-top:16px">
        <div>
            <el-form :inline="true">
                <el-form-item>
                    <el-select v-model="query.searchType" placeholder="查询字段">
                        <el-option label="客户名称" value="customer_name"></el-option>
                        <el-option label="服务费到期时间" value="next_service_fee_date"></el-option>
                        <el-option label="负责人" value="owner_name"></el-option>
                    </el-select>
                </el-form-item>
                <el-form-item>
                    <el-date-picker
                        type="daterange"
                        v-if="query.searchType == 'next_service_fee_date'"
                        v-model="query.date"
                        value-format="yyyy-MM-dd"
                        type="date"
                        :picker-options="pickerOptions"
                        placeholder="选择日期">
                    </el-date-picker>
                    <el-input v-else prefix-icon="el-icon-search" placeholder="查询关键字" v-model="query.keyword"></el-input>
                </el-form-item>
                <el-form-item>
                    <el-button type="primary" @click="onQuery">查询</el-button>
                </el-form-item>
            </el-form>
            <el-table :data="products" @sort-change="sortChange" v-loading="loading">
                <el-table-column label="产品名称" prop="product_name" ></el-table-column>
                <el-table-column label="客户名称" prop="customer_name" >
                    <template slot-scope="scope">
                        <el-button type="text" @click="goCustomerDetails(scope.row.customer_id)" size="mini">{{ scope.row.customer_name }}</el-button>
                    </template>
                </el-table-column>
                <el-table-column label="购买时间" prop="create_time" ></el-table-column>
                <el-table-column label="服务费到期时间" prop="next_service_fee_date" sortable="custom" :formatter="emptyFomatter"></el-table-column>
                <el-table-column label="服务费" prop="service_fee"  :formatter="emptyFomatter"></el-table-column>
                <el-table-column label="负责人" prop="owner_name" ></el-table-column>
                <el-table-column label="操作">
                    <template slot-scope="scope">
                        <el-button type="text" size="mini">详情</el-button>
                    </template>
                </el-table-column>
            </el-table>
            <el-pagination
                layout="prev, pager, next"
                :current-page.sync="query.page"
                :total="total">
            </el-pagination>
        </div>
    </div>
</div>
<script src="https://cdn.bootcss.com/vue/2.5.16/vue.min.js"></script>
<script src="https://cdn.bootcss.com/element-ui/2.2.2/index.js"></script>
<script src="https://cdn.bootcss.com/axios/0.18.0/axios.min.js"></script>
<script src="/Public/js/libs/axios/config.js"></script>
<script src="https://cdn.bootcss.com/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
<script>
    var store = {
        state: {
            user: {
                token: $.cookie('token')
            }
        }
    }
    var vue_app = new Vue({
        el: '#app',
        data: function(){
            return {
                loading: false,
                products: [],
                total: 0,
                query: {
                    page: 1,
                    orderBy: '',
                    keyword: '',
                    searchType: 'customer_name',
                    date: ''
                },
                pickerOptions: {
                    shortcuts: [{
                        text: '最近一周',
                        onClick(picker) {
                            const end = new Date();
                            const start = new Date();
                            end.setTime(end.getTime() + 3600 * 1000 * 24 * 7);
                            picker.$emit('pick', [start, end]);
                        }
                    }, {
                        text: '最近一个月',
                        onClick(picker) {
                            const end = new Date();
                            const start = new Date();
                            end.setTime(end.getTime() + 3600 * 1000 * 24 * 30);
                            picker.$emit('pick', [start, end]);
                        }
                    }, {
                        text: '最近三个月',
                        onClick(picker) {
                            const end = new Date();
                            const start = new Date();
                            end.setTime(end.getTime() + 3600 * 1000 * 24 * 90);
                            picker.$emit('pick', [start, end]);
                        }
                    }]
                }
            }
        },
        methods: {
            onQuery: function () {
                this.loadData();
            },
            loadData: function(){
                this.loading = true;
                http.get('/LyfzErp/products', {params: this.query}).then(function (page) {
                    this.products = page.data;
                    this.total = page.total;
                    this.loading = false;
                }.bind(this));
            },
            sortChange: function(field) {
                this.query.orderBy = field.prop;
            },
            emptyFomatter: function (row, cloumn){
                return row[cloumn.property] || row.attr[cloumn.property] || '未知';
            },
            goCustomerDetails: function (customer_id) {
                window.open('/index.php?m=customer&a=view&id=' + customer_id);
            }
        },
        watch: {
            'query.page': function() {
                this.loadData();
            },
            'query.orderBy': function() {
                this.loadData();
            }
        },
        created: function () {
            this.loadData();
        }
    });
</script>
<include file="Public:footer" />
