<include file="Public:header" />
<script src="__PUBLIC__/js/PCASClass.js" type="text/javascript"></script>
<script type="text/javascript" src="__PUBLIC__/js/formValidator-4.0.1.min.js" charset="UTF-8"></script>
<script type="text/javascript" src="__PUBLIC__/js/formValidatorRegex.js" charset="UTF-8"></script>
<script type="text/javascript" src="__PUBLIC__/js/jquery.combo.select.js" charset="UTF-8"></script>
<link type="text/css" href="__PUBLIC__/css/combo.select.css" rel="stylesheet">

<style>
    .screenshot{
        width:210px;
        height:210px;
        background-color:red;
        float:left;
        border:1px solid #ccc;
        border-radius:5px;
        margin:10px 10px;
    }
    
    .notFloat{
        text-align:center;
        clear:both;
    }
    
    .onTheLeft{
        float:left;
    }
</style>

<div class="container">
	<div class="page-header">
        <h4>编辑上门需求</h4>
	</div>
	<div class="row">
		<div class="span12">
			<include file="Public:alert" />
            <form id="form1" action="{:U('edit')}" method="post">
			   <!--  <input type="hidden" name="refer_url" value="{$refer_url}"> -->
                <input type="hidden" name="id" value="{$vo.id}">
                <table class="table" width="95%" border="0" cellspacing="1" cellpadding="0">
					<tbody>
						<tr><th colspan="4">{:L('client_information')}</th></tr>
                        <tr>
                            <td class="tdleft" >{:L('The_name_of_the_studio')}:</td>
                            <td>
                                <input type="text" name="customer_name" id="customer_name" value="{$vo.customer_name}" readonly>
                            </td>
                            <td class="tdleft" >{:L('First_name')}:</td>
                            <td>
                                <input type="hidden" name="contacts_id" id="contacts_id">
                                <input type="text" name="contacts_name" id="contacts_name" value="{$vo.contacts_name}" readonly>
                            </td>
						</tr>
                        <tr>
                            <td class="tdleft" >{:L('First_number')}:</td>
                            <td>
                                <input type="text" name="contacts_telephone" id="contacts_telephone" value="{$vo.contacts_telephone}" readonly>
                            </td>
                            <td class="tdleft" >{:L('Customer_need')}:</td>
                            <td>
                                <input type="text" name="client_need" id="client_need" value="{$vo.client_need}">
                            </td>
                        </tr>
                        <tr>
                            <td class="tdleft" width="15%">{:L('Studio_contact_address')}:</td>
                            <td colspan="3">
                                <input type="text" style="width: 791px" name="address" id="address" value="{$vo.address}" readonly>
                            </td>
                        </tr>
                        <tr>
                            <td class="tdleft" width="15%">{:L('The_door_type')}:</td>
                            <td >
                                <select name='type' id="type">
                                    <option value="1" <if condition="$vo['type'] eq 1">selected</if>>{:L('first_the_door')}</option>
                                    <option value="2" <if condition="$vo['type'] eq 2">selected</if>>{:L('second_the_door')}</option>
                                    <option value="3" <if condition="$vo['type'] eq 3">selected</if>>{:L('third_the_door')}</option>
                                    <option value="4" <if condition="$vo['type'] eq 4">selected</if>>{:L('more_the_door')}</option>
                                </select>
                            </td>
                            <td class="tdleft" >{:L('SALESMAN')}:</td>
                            <td>
                                <input type="hidden" name="sid" id="sid" value="{$vo.user_id}" />
                                <input type="text" name="saleman" value="{$vo.saleman}" id="saleman" readonly>
                            </td>
                        </tr>
                        <tr>
                            <!--提交人-->
                            <td class="tdleft" >{:L('Saleman')}:</td>
                            <td>
                                <input type="hidden" name="submitter_id" id="submitter_id" value="{$vo.submitter_id}" />
                                <input type="text" id="submitter" name="submitter" value="{$vo.submitter}"  readonly>
                            </td>
                            <notempty name="is_schedu_update">
                                <td class="tdleft" >{:L('training_teacher')}:</td>
                                <td>
                                    <input type="hidden" name="tid" id="tid" value="{$vo.tid}">
                                    <input class="user_input" type="text" value="{$vo.operator_name}" id="operator_name" name="operator_name" placeholder="点击选择"  readonly>
                                </td>
                            </notempty>
                        </tr>
                        <tr style="display: none" id="last_tr">
                            <td class="tdleft" >{:L('LAST_TIME_MAN')}:</td>
                            <td>
                                <input type="hidden" name="last_id" id="last_id" />
                                <input type="text" name="last_man" id="last_man" readonly>
                            </td>
                        </tr>
					</tbody>
					<tfoot>
						<tr>
							<td style="text-align:center;" colspan="4">
                                <input class="btn btn-primary" id="check" type="submit" value="{:L('Save')}"/>
                                <input class="btn" type="reset" onclick="javascript:history.go(-1)" value="{:L('RETURN')}"/>
							</td>
						</tr>
					</tfoot>
                </table>
                <if condition="$leads['leads_id']"><input type="hidden" name="leads_id" value="{$leads['leads_id']}"/></if>
		    </form>	
		</div>
	</div>
</div>

<div class="hide" id="dialog-message" title="影楼名称">loading...</div>
<div class="hide" id="dialog-role-list" title="人员选择">loading...</div>
<div class="hide" id="dialog-role-result1" title="上次上门人选择">loading...</div>
<div class="hide" id="dialog-role-list2" title="上门人选择">loading...</div>
<div class="hide" id="dialog-role-submitter" title="提交人选择">loading...</div>
<script type="text/javascript">
    var identification
    
    $(function() {
        $('#remote_type').comboSelect();
    });

    $("#type").change(function(){
        var opt=$("#type").val();
        if (opt==1){
            $('#last_tr').hide() ;
        }else{
            $('#last_tr').show() ;
        }
    });
    //影楼选择
    $('#customer_name').click(function () {
		$('#dialog-message').dialog('open');
		$('#dialog-message').load("/index.php?m=customer&a=listDialog");
	});
    $('#dialog-message').dialog({
        autoOpen: false,
        modal: true,
        width: 800,
        maxHeight: 400,
        buttons: {
            "确定": function () {
                item = $('input:radio[name="customer"]:checked').val();
                name = $('input:radio[name="customer"]:checked').parent().next().html();
                contacts_id = $('input:radio[name="customer"]:checked').attr('rel');
                contacts_name = $('input:radio[name="customer"]:checked').next().attr('value');
                contacts_telephone = $('input:radio[name="customer"]:checked').next().next().attr('value');
                address = $('input:radio[name="customer"]:checked').next().next().next().attr('value');
                create_name = $('input:radio[name="customer"]:checked').next().next().next().next().attr('value');
                create_user_id = $('input:radio[name="customer"]:checked').next().next().next().next().attr('rel');
                owner_name = $('input:radio[name="customer"]:checked').next().next().next().next().next().attr('value');
                owner_user_id = $('input:radio[name="customer"]:checked').next().next().next().next().next().attr('rel');

                $('#customer_name').val(name);
                $('#customer_id').val(item);
                $('#contacts_id').val(contacts_id);
                $('#contacts_name').val(contacts_name);
                $('#contacts_telephone').val(contacts_telephone);
                $('#address').val(address);
                $('#create_name').val(create_name);
                $('#create_id').val(create_user_id);

                $('[mark=teacher]').val(owner_name);
                $('#teacher_id').val(owner_user_id);
                
                $(this).dialog("close");
            },
            "关闭": function () {
                $(this).dialog("close");
            }
        },
        position:["center",100]
    });
    
    //人员选择
	$('#saleman').click(function(){
        identification = $(this).attr('identification');
        $('#dialog-role-list').dialog('open');
        $('#dialog-role-list').load("{:U('user/listDialog')}");
    });
    $("#dialog-role-list").dialog({
        autoOpen: false,
        modal: true,
        width: 800,
        maxHeight: 400,
        buttons: { 
            "确定": function () {
                var item = $('input:radio[name="owner"]:checked').val();
                var name = $('input:radio[name="owner"]:checked').parent().next().html();
                console.log(item)
                if(item){
                    /*$('[identification='+identification+']').val(name);
                    $('[identification_id='+identification+']').val(item);*/
                    $('#saleman').val(name) ;
                    $('#sid').val(item) ;
                }
                $(this).dialog("close"); 
            },
            "关闭": function () {
                $(this).dialog("close");
            }
        },
        position: ["center", 100]
    });


    //上次上门人员选择
    $('[id=last_man]').click(function(){
        $('#dialog-role-result1').dialog('open');
        $('#dialog-role-result1').load("{:U('user/listDialog')}");
    });
    $("#dialog-role-result1").dialog({
        autoOpen: false,
        modal: true,
        width: 800,
        maxHeight: 400,
        buttons: {
            "确定": function () {
                var item = $('input:radio[name="owner"]:checked').val();
                var name = $('input:radio[name="owner"]:checked').parent().next().html();
                if(item){
                    $('#last_man').val(name);
                    $('#last_id').val(item);
                }
                $(this).dialog("close");
            },
            "关闭": function () {
                $(this).dialog("close");
            }
        },
        position: ["center", 100]
    });

    //上门人选择
    $('#operator_name').click(function(){
        identification = $(this).attr('identification');
        $('#dialog-role-list2').dialog('open');
        $('#dialog-role-list2').load("{:U('user/listDialog')}");
    });
    $("#dialog-role-list2").dialog({
        autoOpen: false,
        modal: true,
        width: 800,
        maxHeight: 400,
        buttons: {
            "确定": function () {
                var item = $('input:radio[name="owner"]:checked').val();
                var name = $('input:radio[name="owner"]:checked').parent().next().html();
                if(item){
                    $('[identification='+identification+']').val(name);
                    $('[identification_id='+identification+']').val(item);
                }
                $('#operator_name').val(name) ;
                $('#tid').val(item) ;
                $(this).dialog("close");
            },
            "关闭": function () {
                $(this).dialog("close");
            }
        },
        position: ["center", 100]
    });

    //提交人选择
    $('#submitter').click(function(){
        $('#dialog-role-submitter').dialog('open');
        $('#dialog-role-submitter').load("{:U('user/listDialog')}");
    });
    $("#dialog-role-submitter").dialog({
        autoOpen: false,
        modal: true,
        width: 800,
        maxHeight: 400,
        buttons: {
            "确定": function () {
                var item = $('input:radio[name="owner"]:checked').val();
                var name = $('input:radio[name="owner"]:checked').parent().next().html();
                $('#submitter').val(name) ;
                $('#submitter_id').val(item) ;
                $(this).dialog("close");
            },
            "关闭": function () {
                $(this).dialog("close");
            }
        },
        position: ["center", 100]
    });
</script>
<include file="Public:footer" />